.framer-slWxo NOT FOUND

.framer-1j3k9q1{flex-flow:row;place-content:center;align-items:center;gap:10px;width:1200px;height:min-content;padding:20px 0;display:flex;position:relative;overflow:hidden}
.framer-1j3k9q1{width:400px;padding:12px 0;overflow:visible}

.framer-1iw0709{-webkit-user-select:none;user-select:none;flex-flow:row;flex:1 0 0;place-content:center;align-items:center;gap:10px;width:1px;max-width:1200px;height:min-content;padding:0 25px;display:flex;position:relative;overflow:visible}
.framer-1iw0709{height:60px;padding:0 20px}

.framer-eauveu{flex-flow:row;flex:1 0 0;place-content:center space-between;align-items:center;width:1px;height:min-content;padding:0;display:flex;position:relative;overflow:visible}
.framer-eauveu{z-index:10;height:58px}

.framer-1i0gdiy{aspect-ratio:1;will-change:var(--framer-will-change-override,transform);flex-flow:row;flex:none;place-content:center;align-items:center;gap:10px;width:38px;height:auto;padding:0;display:flex;position:relative;overflow:hidden}

.framer-njd3ez{aspect-ratio:1;will-change:var(--framer-will-change-filter-override,filter);flex:none;width:35px;height:auto;position:relative;overflow:hidden}

.framer-piwjzl{z-index:10;flex-flow:row;flex:none;place-content:center;align-items:center;gap:22px;width:min-content;height:min-content;padding:0;display:flex;position:relative;overflow:visible}
.framer-piwjzl{height:1px;width:unset;z-index:1;place-content:flex-start;align-items:flex-start;position:absolute;top:62px;left:-18px;right:-18px;overflow:hidden}
.framer-piwjzl{width:unset;z-index:1;place-content:flex-start;align-items:flex-start;position:absolute;top:62px;left:-18px;right:-18px;overflow:hidden}

.framer-1d1dxwp{z-index:10;flex-flow:row;flex:none;place-content:center;align-items:center;gap:24px;width:min-content;height:min-content;padding:0;display:flex;position:relative;overflow:visible}
.framer-1d1dxwp{flex-direction:column;width:100%;padding:36px}

.framer-pigemf{z-index:2;flex-flow:row;flex:none;place-content:center;align-items:center;gap:10px;width:100%;height:min-content;padding:132px 0 0;display:flex;position:relative;overflow:hidden}

.framer-1tfvjrc{z-index:3;flex-flow:column;flex:1 0 0;place-content:center flex-start;align-items:center;gap:60px;width:1px;max-width:1200px;height:min-content;padding:0;display:flex;position:relative;overflow:visible}

.framer-bop595{flex-flow:column;flex:none;place-content:flex-start;align-items:flex-start;gap:20px;width:100%;max-width:850px;height:min-content;padding:0 25px;display:flex;position:relative;overflow:hidden}

.framer-1jbtpjw-container NOT FOUND

.framer-nCvL6 NOT FOUND

.framer-uRfbP NOT FOUND

.framer-1widlpk{flex-flow:row;place-content:center;align-items:center;gap:12px;width:min-content;height:min-content;padding:0;display:flex;position:relative;overflow:hidden}

.framer-16r5io6{flex-flow:row;flex:none;place-content:center flex-start;align-items:center;gap:10px;width:105px;height:min-content;padding:0;display:flex;position:relative;overflow:hidden}

.framer-n5icvj{aspect-ratio:1;height:var(--framer-aspect-ratio-supported,44px);will-change:var(--framer-will-change-override,transform);flex:none;width:44px;position:relative;overflow:hidden}

.framer-22ra7v{aspect-ratio:1;height:var(--framer-aspect-ratio-supported,44px);will-change:var(--framer-will-change-override,transform);z-index:1;flex:none;width:44px;position:absolute;top:49%;left:30px;overflow:hidden}

.framer-15efoma{aspect-ratio:1;height:var(--framer-aspect-ratio-supported,44px);will-change:var(--framer-will-change-override,transform);z-index:1;flex:none;width:44px;position:absolute;top:49%;left:60px;overflow:hidden}

.framer-1q1uc5w NOT FOUND

.framer-c8et2c{flex-flow:row;flex:none;place-content:center;align-items:center;gap:10px;width:100%;height:min-content;padding:54px 0;display:flex;position:relative;overflow:hidden}

.framer-1vesdfu{flex-flow:column;flex:1 0 0;place-content:center;align-items:center;gap:40px;width:1px;max-width:1200px;height:min-content;padding:0 25px;display:flex;position:relative;overflow:hidden}

.framer-szgie7 NOT FOUND

.framer-g3foq9-container{flex:none;width:100%;max-width:600px;height:32px;position:relative}

.framer-z7wgvi{aspect-ratio:3.7;will-change:var(--framer-will-change-filter-override,filter);width:111px;height:auto;position:relative;overflow:hidden}

.framer-1j3f69d NOT FOUND

.framer-kfe6z NOT FOUND

